<div class="content-wrapper" style="min-height: 496.2px;">

  <div class="row row-cols-1 row-cols-md-1 g-4">
    <div class="col">
      <div class="card h-300">
        <img src="assets/fet.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Fet VideoGames</h5>
          <p class="">Consigue tu videojuego aquí</p>
          <p class="card-text"> Celular: 3128101415</p>
          <p class="card-text"> Ubicación: Montenegro, Quindío</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
